.cards {
  padding: 20px 0 40px;
  border-bottom: 1px solid #21212166;
  margin: 0 auto;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Tablet View */
@media (max-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 413px);
    max-width: 900px;
    margin: 0 auto;
  }
}

/* Mobile View */
@media (max-width: 630px) {
  .cards {
    padding: 20px 0;
  }
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    max-width: none;
  }
}
