.cards {
  padding: 20px 0 40px;
  border-bottom: 1px solid #21212166;
  margin: 0 auto;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

/* Tablet View */
@media (max-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
  }
}

/* Mobile View */
@media (max-width: 630px) {
  .cards {
    padding: 20px 0;
  }
  .cards__list {
    grid-template-columns: 1fr;
    max-width: none;
  }
}
