.header {
  background-color: #ffffff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__logo {
  width: 110px;
  height: 26px;
  display: block;
}
